html, body {
  height: 100%;
}

body {
  background: -webkit-gradient(radial, center center, 10
  , center center, 1044, from(#FFFFFF), to(#68550F));
  margin: 0;
  border: 0px;
  font-family: Helvetica, sans-serif;
  outline: 1px solid rgba(127,255,255,0.75);
  overflow: hidden;
}


a#univ1 {
  background: #000000;
  border-radius: 50%;

}
a#univ2 {
  color: #ffffff;
}
a#univ3 {
  color: #ffffff;
}
a#univ4 {
  color: #ffffff;
}

#info {
  position: absolute;
  width: 100%;
  color: #ffffff;
  padding: 5px;
  font-family: Monospace;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  z-index: 1;
}

#menu {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

.element {
   width: 810px;
  height: 600px;
  box-shadow: 0px 0px 140px rgba(2, 3, 3, 0.91);
  /*border: 1px solid rgba(127,255,255,0.25);*/
  text-align: center;
  cursor: default;
  top: 30%;
}

.element:hover {
  box-shadow: 0px 0px 12px rgba(0,255,255,0.75);
  border: 1px solid rgba(127,255,255,0.75);
}

#univ1.element{
  background: -webkit-gradient(linear, left top, left bottom, 
          from(rgb(21, 255, 44)), to(rgb(29, 145, 58))); 
  -webkit-border-radius: 10px;
}
#univ2.element{
  background: -webkit-gradient(linear, left top, left bottom, 
              from(rgb(21, 53, 255)), to(rgb(185, 242, 255)));
  -webkit-border-radius: 10px;
}
#univ3.element{
  background: -webkit-gradient(linear, left top, left bottom, 
              from(rgb(255, 21, 21)), to(rgb(255, 255, 255)));
  -webkit-border-radius: 10px;
}
#univ4.element{
  background: -webkit-gradient(linear, left top, left bottom,
              from(rgb(255, 249, 21)), to(rgb(255, 255, 255)));
  -webkit-border-radius: 10px;
}



.element .image {
  width: 270px;
  height: 200px;
  position: absolute;
  top: 20px;
  left:20px;

  /* background-image:url(“../images/aoyama.jpg”); */
  color: rgba(127,255,255,0.75);
}


.element .symbol {
  position: absolute;
  top: 625px;
  left: 0px;
  right: 0px;
  font-size: 60px;
  font-weight: bold;
  text-shadow: 0 0 10px rgba(0,255,255,0.95);
}


.element .name_date_area {
    position: absolute;
top: 7%;
left: 40%;
font-size: 50px;
  font-weight: bold;
  color: rgba(255,255,255,0.75);
  text-shadow: 0 0 10px rgba(0,255,255,0.95);
  
  font-family: 'Montserrat', sans-serif;
}

.element .name_date_area .name {
  margin-top: 0px;
  margin-bottom: 0px;
}

.element .name_date_area .date {
  margin-top: 0px;
  margin-bottom: 0px;
}

.element .comments {
  width: 770px;
  height: 336px;
  position: absolute;
  top: 40%;
  right: 20px;
  font-size: 20px;
  color: rgba(255,255,255,0.75);
 
  border-style:solid;
}

.element .comments .event_name {
  font-size: 60px;
  margin-bottom: 20px;
  color: yellow;
  font-weight: bold;
}

.element .comments .event_content {
  font-size: 40px;
  margin-top: 0px;
  color: white;
}

.element .add {
  width: 770px;
  height: 240px;
  position: absolute;
  top: 40%;
  right: 20px;
  font-size: 20px;
  color: rgba(255,255,255,0.75);
  text-shadow: 0 0 10px rgba(0,255,255,0.95);
  border-style:solid;
}

.modal{
  display: none;
  background:#777;
  padding:0 20px 20px;
  overflow:auto;
  z-index:1001;
  position:absolute;
  width: 500px;
  min-height: 300px;
  position:relative;
  top: -50%
}

/*
.element .details {
position: absolute;
bottom: 15px;
left: 0px;
right: 0px;
font-size: 12px;
color: rgba(127,255,255,0.75);
}
 */
.filter{
    display: box;
    display: -webkit-box;
    display: -moz-box;
    top: 75%;
    left: 10%;
    position: absolute;

    /* 配置したボックスを左右中央寄せにする */
    box-pack: center;
    -webkit-box-pack: center;
    -moz-box-pack: center;
 }
 .category{
   height: 50px;
   width: 50px;
   position: relative;
   text-align: center;
   margin: 0 5px;
   -webkit-border-radius: 300px;
 }
 .element #id{
   color: red;
 }


  button {
    background: -webkit-gradient(linear, left top, left bottom, 
        from(rgb(237, 233, 218)), to(rgb(97, 96, 29))); 
    -webkit-border-radius: 10px;
    border: 3px #B9AAAA;
    padding: 10px 15px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    color: white;
  }
  button:hover {
    background-color: rgba(0,255,255,0.5);
  }
  button:active {
    color: #000000;
    background-color: rgba(0,255,255,0.75);
  }
