html, body {  
  height: 100%;
  background-color: ##f8f4e6;
}

.header div {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #75594a;
  font-family: cursive;
  text-align: center;
  font-size: 30px;
  text-shadow: 15px 10px 5px #808080;
}

.form-signin p {
  margin-top:20px;
  text-align: right;
}

.name-form {
  margin-bottom: 10px;
}

.password-form {
  margin-top: 10px;
}

.btn {
  background-color: #75594a;
  border-color: #000000;
}
